@model IEnumerable<db.crmdb.dbData.ViewAccountDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutAdminPage.cshtml";
    <style>
        .dataTables_filter input, .dataTables_filter select {
            height: 24px;
            padding: 1px 8px;
            font-size: 10px;
            line-height: 0.429;
            color: #555;
            background-color: #FFF;
            background-image: none;
            border: 1px solid #CCC;
            border-radius: 4px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
            transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        }

        .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
            border-top: 0;
            background-color: #2A3F54;
            color: #fff;
        }
    </style>
}
<div class="topDiv">
    <div class="topDivSub1">
        <h1>User Management</h1>
    </div>
</div>
<hr />
<div style="padding-left: 5px;position: relative; top: 0px; left: 0px">

    <p style="padding-left:10px">
        @Html.ActionLink("Export To Excel", "ExportToExcell",null,new { @class="btn btn-primary" })  
    </p>
    <div style="position: relative; top: 0px; left: 0px; display: block; padding: 7px; width: 100%; height: 400px">
        <table id="mytable" class="table table-striped table-bordered">
            <thead class="black white-text">
                <tr>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.FIRSTNAME)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.LASTNAME)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.AccountType)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.CULTURE)
                    </th>
                    <th class="GridTitle"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="GridItem GridItemHlip">
                            @Html.DisplayFor(modelItem => item.FIRSTNAME)
                        </td>
                        <td class="GridItem GridItemHlip">
                            @Html.DisplayFor(modelItem => item.LASTNAME)
                        </td>
                        <td class="GridItem GridItemHlip">
                            @Html.DisplayFor(modelItem => item.AccountType)
                        </td>
                        <td class="GridItem GridItemHlip">
                            @Html.DisplayFor(modelItem => item.CULTURE)
                        </td>

                        <td class="GridItem GridItemHlip">
                            <a class="btn btn-primary btn-sm" href="Account/Edit/@item.UID"><i class="fa fa-pencil fa-lg"></i></a>
                            <a class="btn btn-primary btn-sm" href="Account/Details/@item.UID"><i class="fa fa-binoculars fa-lg"></i></a>
                            <a class="btn btn-dander btn-sm" href="Account/Delete/@item.UID"><i class="fa fa-trash fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mytable").dataTable();
        });
        function Edit(url) {
            $.ajax({
                type: 'GET',
                url: url,
                success: function () {

                },
                dataType: dataType
            });
        }
        function Delete(url) {
            if (confirm("Are you sure you want to delete the record")) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    success: function () {

                    },
                    dataType: dataType
                });
            }

        }
    </script>
}