@model IEnumerable<db.crmdb.dbData.BASE_COMPANIES>

@{
    ViewBag.Title = "New Companies";
    Layout = "~/Views/_LayoutPage.cshtml";
    <style type="text/css">
        .btn {
            width: 161px;
        }

        table.dataTable {
            position: relative;
            top: 5px;
        }
    </style>

}


@section SideBar {
    <a class="sidebtn" id="crm" href="/Companies/create">New Companies</a>
    <a class="sidebtn" ID="hr">Advance Search</a>
}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="pageTitle" valign="top" align="left">
                Manage Companies
            </td>
        </tr>
    </tbody>
</table>
<h1>List Of Companies</h1>
@if (Model.Any())
{
    <div>

        <div class="formhorizontal">
            <div class="form-group">
                <div class=" col-md-offset-2 col-md-2" style="display:flex;flex-flow:row">
                    @*@Html.ActionLink("Export to CSV", "ExportCSV", "Companies", null, new { @class = "btn btn-primary" })*@
                    @Html.ActionLink("Export to Excel", "ExportExcel", "Companies", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>

    </div>
}
<div id="tabberpage" class="form-horizontal">
    <table id="mytable" class="table table-striped table-bordered">
        <thead class="black white-text">
            <tr>
                @*<th class="GridTitle">
                </th>*@
                <th class="GridTitle">
                    @Html.DisplayNameFor(model => model.COMPANYNAME)
                </th>
                <th class="GridTitle">
                    @Html.DisplayNameFor(model => model.PHONE)
                </th>
                <th class="GridTitle">
                    @Html.DisplayNameFor(model => model.EMAIL)
                </th>
                <th class="GridTitle">
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {

                foreach (var item in Model)
                {
            <tr>
                @*<td style="text-align:center">
                    @Html.CheckBoxFor(model => model.Selected)
                </td>*@
                <td class="GridItem GridItemHlip">
                    <a class="" href="@Url.Action("Details","Companies", new { id=item.COMPANYID })">
                        @Html.DisplayFor(modelItem => item.COMPANYNAME)
                    </a>
                </td>
                <td class="GridItem GridItemHlip">
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>
                <td class="GridItem GridItemHlip">
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td class="GridItem">
                    <a href="@Url.Action("Delete","Opportunity", new { id = item.COMPANYID })" onclick="return ConfirmDelete()">Delete</a>
                </td>
            </tr>
                }

            }


        </tbody>

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mytable").dataTable();

            // Grab a reference to the checkall checkbox:
            var checkAllBox = $("#checkall");
            var divProcessing = $("#divProcessing");
            // Hide the animated Gif when page loads:
            divProcessing.hide();
            checkAllBox.prop('checked', true);
            // Attach a handler for the checkAllBox click event:
            checkAllBox.click(function () {
                var status = checkAllBox.prop('checked');
                toggleChecked(status);
            });
            $('#email').click(function () {
                // Required hack to get animated gif to run in IE:
                setTimeout(function () {
                    divProcessing.show();
                }, 100);
                $('myform').submit();
            });
        });

        //$(document).ready(function () {

        //    //$('#btnExport').click(function () {

        //    //    window.location = '/Companies/Excel';

        //    //});
        //});
        function exportExcel() {
            window.location = '/Companies/Excel/2';
        }
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete this Opportunity")) {
                return true;
            }
            else {
                return false;
            }
        }
        function toggleChecked(status) {
            $("#checkboxes input").each(function () {
                $(this).prop("checked", status);
            });
        }
    </script>
}
