@model IEnumerable<db.crmdb.dbData.LEAD>

@{
    ViewBag.Title = "List Of Leads";
    Layout = "~/Views/_LayoutPage.cshtml";
<style type="text/css">
    .btn {
        width: 161px;
    }

    table.dataTable {
        position: relative;
        top: 5px;
    }
</style>

}


@section SideBar {
    <a class="sidebtn" id="crm" href="/Leads/create">New Leads</a>
    <a class="sidebtn" ID="hr">Advance Search</a>
}
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="pageTitle" valign="top" align="left">
                Manage Leads
            </td>
        </tr>
    </tbody>
</table>
<h1>List Of Leads</h1>
@if (Model.Any())
{
    <div>

        <div class="formhorizontal">
            <div class="form-group">
                <div class=" col-md-offset-2 col-md-2" style="display:flex;flex-flow:row">
                    @*@Html.ActionLink("Export to CSV", "ExportCSV", "Companies", null, new { @class = "btn btn-primary" })*@
                    @Html.ActionLink("Export to Excel", "ExportExcel", "Leads", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>

    </div>
}
    <div id="tabberpage" class="form-horizontal">
        <table id="mytable" class="table table-striped table-bordered">
            <thead class="black white-text">
                <tr>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.FIRSTNAME)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.LASTNAME)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.PHONE)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.FAX)
                    </th>
                    <th class="GridTitle">
                        @Html.DisplayNameFor(model => model.EMAIL)
                    </th>
                    <th class="GridTitle"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="GridItem GridItemHlip">
                                <a class="" href="@Url.Action("Details","Leads", new { id=item.LEADID })">
                                    @Html.DisplayFor(modelItem => item.FIRSTNAME)
                                </a>
                            </td>
                            <td class="GridItem GridItemHlip">
                                @Html.DisplayFor(modelItem => item.LASTNAME)
                            </td>
                            <td class="GridItem GridItemHlip">
                                @Html.DisplayFor(modelItem => item.PHONE)
                            </td>
                            <td class="GridItem GridItemHlip">
                                @Html.DisplayFor(modelItem => item.FAX)
                            </td>
                            <td class="GridItem GridItemHlip">
                                @Html.DisplayFor(modelItem => item.EMAIL)
                            </td>
                            <td class="GridItem">
                                <a href="@Url.Action("Delete","Leads", new { id = item.LEADID })" onclick="return ConfirmDelete()">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#mytable").dataTable();
        });
        function ConfirmDelete() {
            if (confirm("Are you sure you want to delete this lead")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    @*<app-root></app-root>*@
}

