@model IEnumerable<db.crmdb.dbData.SALESPERSON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SALESPERSONNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALESPERSONEMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALESPERSONPHONE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SALESPERSONNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALESPERSONEMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALESPERSONPHONE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SALESPERSONID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SALESPERSONID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SALESPERSONID })
        </td>
    </tr>
}

</table>
